@media(max-width: 768px){

    .container{
        width: 1000px;
        height: 500px;
        grid-template-columns: 2;
        grid-template-rows: 3;
    }
    .grid-container{
        width: fit-content;
    }
    .grid-item11 h2{
        width: fit-content;
    }
    .grid-item11 button{
        width: fit-content;
    }
}